In [1]:
import numpy as np
import pandas as pd
import re
import itertools
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
#from sklearn.linear_model import PassiveAggressiveClassifier
#from sklearn.metrics import accuracy_score, confusion_matrix

import nltk

nltk.download('punkt')
nltk.download('wordnet')
nltk.download('stopwords')
from nltk import sent_tokenize, word_tokenize

[nltk_data] Downloading package punkt to /home/femme_js/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to /home/femme_js/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     /home/femme_js/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [2]:
#Reading the data
df=pd.read_csv('/home/femme_js/Hoaxify/news.csv')


#getting the shape and head
df.shape
df.head(10)

,Unnamed: 0,title,text,label
0,8476,You Can Smell Hillary’s Fear,"Daniel Greenfield, a Shillman Journalism Fello...",FAKE
1,10294,Watch The Exact Moment Paul Ryan Committed Pol...,Google Pinterest Digg Linkedin Reddit Stumbleu...,FAKE
2,3608,Kerry to go to Paris in gesture of sympathy,U.S. Secretary of State John F. Kerry said Mon...,REAL
3,10142,Bernie supporters on Twitter erupt in anger ag...,"— Kaydee King (@KaydeeKing) November 9, 2016 T...",FAKE
4,875,The Battle of New York: Why This Primary Matters,It's primary day in New York and front-runners...,REAL
5,6903,"Tehran, USA","\nI’m not an immigrant, but my grandparents ...",FAKE
6,7341,Girl Horrified At What She Watches Boyfriend D...,"Share This Baylee Luciani (left), Screenshot o...",FAKE
7,95,‘Britain’s Schindler’ Dies at 106,A Czech stockbroker who saved more than 650 Je...,REAL
8,4869,Fact check: Trump and Clinton at the 'commande...,Hillary Clinton and Donald Trump made some ina...,REAL
9,2909,Iran reportedly makes new push for uranium con...,Iranian negotiators reportedly have made a las...,REAL

In [3]:
# checking if column have nan values

check_nan_in_df = df.isnull()
print (check_nan_in_df)

      Unnamed: 0  title   text  label
0          False  False  False  False
1          False  False  False  False
2          False  False  False  False
3          False  False  False  False
4          False  False  False  False
...          ...    ...    ...    ...
6330       False  False  False  False
6331       False  False  False  False
6332       False  False  False  False
6333       False  False  False  False
6334       False  False  False  False

[6335 rows x 4 columns]

In [4]:
# as data dont have any NaN value, we dont need to fill them

In [5]:
#Getting the Labels

labels=df.label
labels.head()

0    FAKE
1    FAKE
2    REAL
3    FAKE
4    REAL
Name: label, dtype: object

In [6]:
#Fill all null spaces with and make a new freature called total

# Firstly, fill all the null spaces with a space
df = df.fillna(' ')
df['total'] = df['title'] + ' ' + df['text']

df.head()

,Unnamed: 0,title,text,label,total
0,8476,You Can Smell Hillary’s Fear,"Daniel Greenfield, a Shillman Journalism Fello...",FAKE,You Can Smell Hillary’s Fear Daniel Greenfield...
1,10294,Watch The Exact Moment Paul Ryan Committed Pol...,Google Pinterest Digg Linkedin Reddit Stumbleu...,FAKE,Watch The Exact Moment Paul Ryan Committed Pol...
2,3608,Kerry to go to Paris in gesture of sympathy,U.S. Secretary of State John F. Kerry said Mon...,REAL,Kerry to go to Paris in gesture of sympathy U....
3,10142,Bernie supporters on Twitter erupt in anger ag...,"— Kaydee King (@KaydeeKing) November 9, 2016 T...",FAKE,Bernie supporters on Twitter erupt in anger ag...
4,875,The Battle of New York: Why This Primary Matters,It's primary day in New York and front-runners...,REAL,The Battle of New York: Why This Primary Matte...

In [7]:
#PRE-PROCESSING THE DATA

In [8]:

stop_words = stopwords.words('english')

lemmatizer = WordNetLemmatizer()

for index, row in df.iterrows():
    filter_sentence = ''
    sentence = row['total']
    # Cleaning the sentence with regex
    sentence = re.sub(r'[^\w\s]', '', sentence)
    # Tokenization
    words = nltk.word_tokenize(sentence)
    # Stopwords removal
    words = [w for w in words if not w in stop_words]
    # Lemmatization
    for words in words:
        filter_sentence = filter_sentence  + ' ' + str(lemmatizer.lemmatize(words)).lower()
    
    df.loc[index, 'total'] = filter_sentence

df.head()

,Unnamed: 0,title,text,label,total
0,8476,You Can Smell Hillary’s Fear,"Daniel Greenfield, a Shillman Journalism Fello...",FAKE,you can smell hillarys fear daniel greenfield...
1,10294,Watch The Exact Moment Paul Ryan Committed Pol...,Google Pinterest Digg Linkedin Reddit Stumbleu...,FAKE,watch the exact moment paul ryan committed po...
2,3608,Kerry to go to Paris in gesture of sympathy,U.S. Secretary of State John F. Kerry said Mon...,REAL,kerry go paris gesture sympathy us secretary ...
3,10142,Bernie supporters on Twitter erupt in anger ag...,"— Kaydee King (@KaydeeKing) November 9, 2016 T...",FAKE,bernie supporter twitter erupt anger dnc we t...
4,875,The Battle of New York: Why This Primary Matters,It's primary day in New York and front-runners...,REAL,the battle new york why this primary matters ...

In [9]:
df['total'].head()

0     you can smell hillarys fear daniel greenfield...
1     watch the exact moment paul ryan committed po...
2     kerry go paris gesture sympathy us secretary ...
3     bernie supporter twitter erupt anger dnc we t...
4     the battle new york why this primary matters ...
Name: total, dtype: object

In [10]:
print(type(df['label']))

<class 'pandas.core.series.Series'>

In [11]:
df['label'].value_counts().plot(kind = 'bar')

ImportError: matplotlib is required for plotting when the default backend "matplotlib" is selected.

In [ ]:
df.label = df.label.astype(str)
df.label.unique()

In [ ]:
df.label = df.label.astype(str)
df.label = df.label.str.strip()


dict = { 'REAL' : '1' , 'FAKE' : '0'}

df['label'] = df['label'].map(dict)

df.head()

In [16]:
x_df = df['total']
y_df = df['label']

In [17]:
x_df.head()

0     you can smell hillarys fear daniel greenfield...
1     watch the exact moment paul ryan committed po...
2     kerry go paris gesture sympathy us secretary ...
3     bernie supporter twitter erupt anger dnc we t...
4     the battle new york why this primary matters ...
Name: total, dtype: object

In [18]:
y_df.head()

0    FAKE
1    FAKE
2    REAL
3    FAKE
4    REAL
Name: label, dtype: object

In [19]:
#VECOTRIZATION

#we are using tf_idf vecotrizer

In [20]:
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer



count_vectorizer = CountVectorizer()
count_vectorizer.fit_transform(x_df)
freq_term_matrix = count_vectorizer.transform(x_df)
tfidf = TfidfTransformer(norm = "l2")
tfidf.fit(freq_term_matrix)
tf_idf_matrix = tfidf.fit_transform(freq_term_matrix)

print(tf_idf_matrix)

  (0, 84103)	0.02880344134538735
  (0, 84077)	0.03002128664210717
  (0, 83877)	0.018607343328196482
  (0, 83514)	0.03653774133019167
  (0, 83492)	0.023707364893939736
  (0, 83447)	0.03586754816546842
  (0, 83403)	0.02695875045200971
  (0, 83396)	0.019835943175965133
  (0, 83392)	0.008585159602852022
  (0, 83218)	0.01572657851425174
  (0, 83110)	0.014470516380511316
  (0, 83004)	0.027822220268486773
  (0, 83003)	0.016460792307242865
  (0, 82929)	0.03833530820382529
  (0, 82841)	0.024379366941566442
  (0, 82678)	0.0346212287472953
  (0, 82578)	0.035082475533552405
  (0, 82545)	0.018051125993657446
  (0, 82391)	0.013651104872461956
  (0, 82373)	0.014279148105824169
  (0, 82346)	0.018685412875057213
  (0, 82339)	0.060996642075652405
  (0, 82073)	0.01138273361804669
  (0, 82023)	0.03043943380028792
  (0, 81896)	0.04220672992179989
  :	:
  (6334, 9343)	0.06663788710149954
  (6334, 9341)	0.09390119973816259
  (6334, 9232)	0.01929156802079928
  (6334, 8729)	0.01751752612849853
  (6334, 8631)	0.03314648822581055
  (6334, 8584)	0.032880405646402766
  (6334, 8554)	0.026438677499817233
  (6334, 8334)	0.05165463029655788
  (6334, 8267)	0.0388071381665498
  (6334, 8241)	0.02574196238544902
  (6334, 8238)	0.02645424254375812
  (6334, 8232)	0.05462537789001593
  (6334, 8105)	0.034228756253996344
  (6334, 7424)	0.030982509754340935
  (6334, 7333)	0.013646914039640313
  (6334, 7322)	0.03816721468972994
  (6334, 6849)	0.023263047270567164
  (6334, 6547)	0.03273257191471888
  (6334, 5935)	0.028738104471802604
  (6334, 5540)	0.03251624806904254
  (6334, 5056)	0.016593482188606904
  (6334, 3644)	0.05685197265050367
  (6334, 2203)	0.02661173208457374
  (6334, 2181)	0.04498306799598561
  (6334, 1838)	0.015008031312217405

In [21]:
#Splitting data into train and test data

x_train, x_test, y_train, y_test = train_test_split(tf_idf_matrix,
                                   y_df, random_state=0)

In [22]:
#Implementing DIfferent Models and checking accuracy

In [23]:
#Logistic Regression

In [24]:
y_train.head()

1957    REAL
5016    REAL
3166    REAL
811     FAKE
3389    REAL
Name: label, dtype: object

In [25]:
from sklearn.linear_model import LogisticRegression

logreg = LogisticRegression()
logreg.fit(x_train, y_train)
Accuracy = logreg.score(x_test, y_test)

In [26]:
from sklearn.naive_bayes import MultinomialNB


NB = MultinomialNB()
NB.fit(x_train, y_train)
Accuracy = NB.score(x_test, y_test)

In [27]:
from sklearn.tree import DecisionTreeClassifier


clf = DecisionTreeClassifier()
clf.fit(x_train, y_train)
Accuracy = clf.score(x_test, y_test)

In [29]:
from sklearn.metrics import accuracy_score, confusion_matrix

from sklearn.linear_model import PassiveAggressiveClassifier

#DataFlair - Initialize a PassiveAggressiveClassifier
pac=PassiveAggressiveClassifier(max_iter=50)
pac.fit(x_train,y_train)
#DataFlair - Predict on the test set and calculate accuracy
y_pred=pac.predict(x_test)
score=accuracy_score(y_test,y_pred)

print(f'Accuracy: {round(score*100,2)}%')

Accuracy: 93.75%